{% extends 'blog/edit_profile.html' %}
{% load static %}
{% block title %}
  <title>Editpassword</title>
{% endblock %}
{% block content %}    
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <form class="login100-form validate-form flex-sb flex-w" method="post">
                {% csrf_token %}
                <span class="login100-form-title p-b-53">
                    Edit Password
                </span>
                
                <div class="p-t-10 p-b-5 wid">
                    <span class="txt1">
                        Current Password
                    </span>
                </div>
                <div class="wrap-input100">
                    <input class="input100" type="password" name="password" required>
                    <span class="focus-input100"></span>
                </div>
                <div  class="error">
                    {{error_password}}
                </div>
                <div class="p-t-10 p-b-5 wid">
                    <span class="txt1">
                        New Password
                    </span>
                </div>
                <div class="wrap-input100 ">
                    <input class="input100" type="password" name="newpass" required >
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-10 p-b-5 wid">
                    <div class="txt1">
                        Verify Password
                    </div>
                </div>
                <div class="wrap-input100">
                    <input class="input100" type="password" name="vpass" required >
                    <span class="focus-input100"></span>
                </div>
                <div  class="error">
                    {{error_vpass}}
                </div>
                
                <br>
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Submit
                    </button>
                </div>
                <div class="w-full text-center p-t-55">
                    <span class="txt2">
                        Want to Edit Profile...
                    </span>

                    <a href="{% url 'blog:editprofile' %}" class="txt2 bo1">
                        Click here!!!
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}