<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% block title %}
      <title>Editprofile</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/mainl.css'  %}">
<!--===============================================================================================-->

</head>
<body>
<div class="header">
    <a href="{% url 'blog:newpost' %}" class="pctive" >New Blog</a>
        <div class="header-right">
          <a href= "{% url 'blog:home' %}">Home</a>
          {% if request.user.is_authenticated %}
            <a class="margn-rgt margn-lft" href="{% url 'blog:profile' %}">Profile</a>
            <a href="{% url 'blog:signup' %}">Logout</a>
          {% else %}
            <a href="{% url 'blog:login' %}" class="margn-rgt margn-lft">Login</a>
            <a href="{% url 'blog:signup' %}">Signup</a>
          {% endif %}
        </div>
    </div>
{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <form class="login100-form validate-form flex-sb flex-w" method="post">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-53">
                        Edit Profile
                    </span>
                    
                    <div class="p-t-10 p-b-5 wid">
                        <span class="txt1">
                            Username
                        </span>
                    </div>
                    <div class="wrap-input100">
                        <input class="input100" type="text" name="username" value="{{username}}">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-10 p-b-5 wid">
                        <span class="txt1">
                            First Name
                        </span>
                    </div>
                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="first_name" required value="{{first_name}}">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-10 p-b-5 wid">
                        <span class="txt1">
                            Last Name
                        </span>
                    </div>
                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="last_name" required value="{{last_name}}">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-10 p-b-5 wid">
                        <div class="txt1">
                            Email
                        </div>
                    </div>
                    <div class="wrap-input100">
                        <input class="input100" type="text" name="email" required value="{{email}}">
                        <span class="focus-input100"></span>
                    </div>
                    <div  class="error">
                        {{error_email}}
                    </div>
                    
                    <br>
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit">
                            Submit
                        </button>
                    </div>
                    <div class="w-full text-center p-t-55">
                        <span class="txt2">
                            Do you want to change Password?
                        </span>

                        <a href="{% url 'blog:editpass' %}" class="txt2 bo1">
                            Click here!!
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>