{% extends 'blog/home.html' %}
{% block content %}
{% load static %}
<div class="limiter">
<div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %});">
	<div class="wrap-contact101">	
		<form action="" >
			{% for p in alldata %}
			    <span >
				  <a href="{% url 'blog:onepost' p.pk %}"
				    class="contact101-form-title"
				   style="text-decoration: none">{{p.title | safe}}</a>
				</span>
				<span class="label-input101">
					{{p.datecreated}}
				</span>
				<div class="wrap-input100" >
				  <div >
				    {{p.Content | safe}}
				  </div>
				</div>
				<br>
			{% endfor %}
		</form>
	</div>
</div>
{% endblock %}
