{% extends 'blog/home.html' %}
{% block content %}
{% load static %}
<div class="limiter">
<div class="container-login100" style="background-image: url({% static 'images/bg-02.jpg' %});">
	<div class="wrap-contact101">	
		<form action="" >
			{% for p in alldata %}
			    <span >
				  <a href="{% url 'blog:onepost' p.pk %}"
				    class="contact101-form-title"
				   style="text-decoration: none">{{p.title | safe}}</a>
				</span>
				<span class="label-input101">
					{{p.datecreated}}
				</span>
				<div class="wrap-input100" >
				  <div >
				    {{p.Content | safe}}
				  </div>
				</div>
				<!-- LikeBtn.com BEGIN -->
				<span class="likebtn-wrapper" data-theme="custom" data-btn_size="31" data-f_size="22" data-icon_size="20" data-icon_l_c_v="#696765" data-f_family="Times New Roman" data-identifier="item_1"></span>
<!-- LikeBtn.com END -->
			    <br><br>
			{% endfor %}
		</form>
	</div>
</div>
{% endblock %}
