<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'blog/font-awesome.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/font-awesome.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'blog/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
  <title>Blog</title>
</head>
<body>
  <div class="header">
    <div class="newp">
      <a href="{% url 'blog:newpost' %}" class="pctive" >New Blog</a>
    </div>
    <div class="header-right">
      <a href="{% url 'blog:home' %}" class="active" >Home</a>
      {% if request.user.is_authenticated %}
        <a href="{% url 'blog:profile' %}" class="margn-rgt margn-lft">{{request.user.first_name}}</a>
        <a href="{% url 'blog:signup' %}">Logout</a>
      {% else %}
        <a href="{% url 'blog:login' %}" class="margn-rgt margn-lft">Login</a>
        <a href="{% url 'blog:signup' %}">Signup</a>
      {% endif %}
    </div>
  </div>
  <div>
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>

