{% extends 'blog/home.html' %}
{% load static %}
{% block content %}
<div class="limiter">
  <div class="container-login100">
  <div class="wrap-contact101">
    {{post.author.first_name}} {{post.author.last_name}}
    </span>
    <span class="label-input100">
    {{post.datecreated}}
    </span>
    <br>
    <span class="contact100-form-title">
        {{post.title | safe }}
    </span>
    <div class="wrap-input100" >
      <div class="">
        {{post.content | safe }}
      </div>
    </div>
    <form method ="post">
    {% csrf_token %}
      <input type="hidden" id="xyz" data-id="{{post.pk}}">
    <div class="wrap-input101" >
      <span class="label-input100">Comment</span>
      <textarea class="input100" id="x2" name="msg" placeholder="Write somethink..." ></textarea>
      <hr>
    </div>
    </form>
    <div class="l-c-section">
      <span class="newp">
        <button id="total_likes">
          {{post.total_likes}}
        </button>
        <button type="button" id="like" >Like</button>
      </span>
      <span>
      <button id="comments">Show Comments</button>
    </span>
    </div>
    <div id="tb">
    {% if cmnts %}
      <div id="cmnttable">
      </div>
    {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock %}