<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Post</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'blog/font-awesome.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/font-awesome.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'blog/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
<!--===============================================================================================-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
  <div class="header">
    <div class="newp">
      <a href="{% url 'blog:newpost' %}" class="pctive" >New Blog</a>
    </div>
        <div class="header-right">
          <a href="{% url 'blog:home' %}" >Home</a>
          {% if request.user.is_authenticated %}
            <a href="{% url 'blog:profile' %}" class="margn-rgt margn-lft">{{request.user.first_name}}</a>
            <a href="{% url 'blog:signup' %}">Logout</a>
          {% else %}
            <a href="{% url 'blog:login' %}" class="margn-rgt margn-lft">Login</a>
            <a href="{% url 'blog:signup' %}">Signup</a>
          {% endif %}
        </div>
  </div>
  <div class="limiter">
    <div class="container-login100" style="background-image: url({%static 'images/bg-01.jpg' %});">
    <div class="wrap-contact100">
      {{post.author.name}}
      </span>
      <span class="label-input100">
      {{post.datecreated}}
      </span>
      <br>
      <span class="contact100-form-title">
          {{post.title | safe }}
      </span>
      <div class="wrap-input100" >
        <div class="">
          {{post.content | safe }}
        </div>
      </div>
      <form method ="post">
      {% csrf_token %}
        <input type="hidden" id="xyz" data-id="{{post.pk}}">
      <div class="wrap-input100" >
        <span class="label-input100">Comment</span>
        <textarea class="input100" id="x2" name="msg" placeholder="Write somethink..." ></textarea>
        <span class="focus-input100"></span>
      </div>
      </form>
      {% if cmnts %}
        <span>Other Comments:</span>
        <br>
          {% for cmnt in cmnts %}
              <span style="color: black;">
                <b>{{cmnt.user.first_name}} {{cmnt.user.last_name}}</b>
                </span>
                <span >
                {{cmnt.msg | safe}}
              </span>
            <br>
          {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<script>
var input = document.getElementById("x2");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   $.ajax({
            type:'POST',
            url:"{% url 'blog:cmnt' %}",
            data:{
              msg:$('#x2').val(),
              postid:$("#xyz").attr("data-id"),
            },
            sucess:function(){
            }
        });
   document.getElementById("x2").value =""
  }
});
</script>
</body>
</html>
