{% extends 'blog/home.html' %}
{% load static %}
{% block title %}
  <title>Profile</title>
  {% endblock %}
{% block user_name %}
	<a class="margn-rgt margn-lft" href="{% url 'blog:editprofile' %}">Edit Profile</a>
{% endblock %}
{% block content %}
<div class="limiter">
	<div class="container-login100" style="background-image: url({%static 'images/bg-02.jpg' %});">
	<div class="wrap-contact100">
		<form class="contact100-form">
			<h1><b>
				{{user.first_name}} {{user.last_name}}
			</b></h1>
			<br>
			<span class="contact100-form-title">Genral Details-</span>
			<div >
			  Username: {{user.username}}	
			</div>
			{% if user.email %}
			<div>
				Email: {{user.email}}
			</div>
			{% endif %}
			{% for p in posts %}
			    <span class="contact100-form-title">Posts:</span>
			    <span >
					<a href="{% url 'blog:onepost' p.pk %}"
					    class="contact100-form-title"
					    style="text-decoration: none">{{p.title | safe}}
					</a>
				</span>
				<span class="label-input101">
					{{p.datecreated}}
				</span>
				<div class="wrap-input100" >
				  <div >
				    {{p.Contents | safe}}
				  </div>
				</div>
				<br>
			{% endfor %}
		</form>
	</div>
</div>
</div>
{% endblock %}
